
body {
  background: #f2f2f2;
  font-family: 'Questrial', sans-serif;
}
.ticket-menu {
 
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: blue;
  color:white;
  list-style: none;
}
.ticket-menu li {
  margin: 2px;
}

